body {
    font-family: sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.card {
    width: 49%;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 19px;
    border-radius: 10px;
    margin-top:10px;
}

.line {
    border-top: 1px solid #ccc;
}
